<style>
   .progress_style{
   display: flex;
   justify-content: space-between;
   width: 100%;
   }
   @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Baloo+Tamma+2&family=Quicksand:wght@300&display=swap');
   body{
   font-family: 'Baloo Bhaijaan 2', cursive;
   font-family: 'Baloo Tamma 2', cursive;
   font-family: 'Quicksand', sans-serif;
   word-spacing: 0.08rem;
   font-size: 14px;
   }
</style>
<div class="art-info-bar">
   <!-- menu bar frame -->
   <div class="art-info-bar-frame">
      <!-- info bar header -->
      <div class="art-info-bar-header">
         <!-- info bar button -->
         <a class="art-info-bar-btn">
            <!-- icon -->
            <i class="fas fa-ellipsis-v"></i>
         </a>
         <!-- info bar button end -->
      </div>
      <!-- info bar header end -->
      <!-- info bar header -->
      <div class="art-header">
         <!-- avatar -->
         <div class="art-avatar">
            <a data-no-swup href="/media/{{ userBasicDetails.profile_image }}" class="art-avatar-curtain">
               <img  alt="avatar" data-src="/media/{{ userBasicDetails.profile_image }}" class="lazyload">
               <noscript><img  alt="avatar"></noscript>
               <i class="fas fa-expand"></i>
            </a>
            <!-- available -->
            <div class="art-lamp-light">
               <!-- add class 'art-not-available' if not available-->
               <div class="art-available-lamp" title="I am available for freelance hire"></div>
            </div>
         </div>
         <!-- avatar end -->
         <!-- name -->
         <h5  class="art-name mb-10"><a>{{ userBasicDetails.name }}</a></h5>
         <!-- post -->
         <div class="art-sm-text">{{ userBasicDetails.about }}</div>
      </div>
      <!-- info bar header end -->
      <!-- scroll frame -->
      <div id="scrollbar2" class="art-scroll-frame">
         <!-- info bar about -->
         <div class="art-table p-15-15">
            <!-- about text -->
            <ul>
               <li>
                  <h6 >Residence:</h6>
                  <span>{{ userBasicDetails.country }}</span>
               </li>
               <li>
                  <h6 >City:</h6>
                  <span >{{ userBasicDetails.state }}</span>
               </li>
               <li>
                  <h6 >Age:</h6>
                  <span>{{ userBasicDetails.age }}</span>
               </li>
            </ul>
         </div>
         <!-- info bar about end -->
         <!-- divider -->
         <div class="art-ls-divider"></div>
         <!-- language skills -->
         <div style="display: flex" class="art-lang-skills p-30-15">
            <!-- skill -->
            {% for lan in languages %}
            <div class="art-lang-skills-item">
               <div id="circleprog1-{{ lan.id }}" data-type="circles" data-value="{{ lan.score }}" class="art-cirkle-progress art-skills-progress"></div>
               <!-- title -->
               <h6 >{{ lan.name }}</h6>
            </div>
            {% endfor %}
            <!-- skill end -->
         </div>
         <!-- language skills end -->
         <!-- divider -->
         <div class="art-ls-divider"></div>
         <!-- hard skills -->
         <div class="art-hard-skills p-30-15">
            <!-- skill -->
            {% for tech in technicalSkills %}
            <div class="art-hard-skills-item">
               <div class="art-skill-heading">
                  <!-- title -->
                  <div class="progress_style">
                     <h6 >{{tech.name}}</h6>
                     <h6>{{ tech.score }}%</h6>
                  </div>
               </div>
               <!-- progressbar frame -->
               <div class="progress" style="height: 4px">
                  <div class="progress-bar" role="progressbar" style="width: {{ tech.score }}%;background-color:#f46258" aria-valuenow="{{ tech.score }}" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
               <!-- progressbar frame end -->
            </div>
            {% endfor %}
            <!-- skill end -->
            <!-- skill end -->
         </div>
         <!-- language skills end -->
         <!-- divider -->
         <div class="art-ls-divider"></div>
         <!-- knowledge list -->
         <div  class="art-knowledge-list p-15-0">
            <!-- list item -->
            {{ userBasicDetails.other_skills |safe }}
         </div>
         <!-- knowledge list end -->
         <!-- divider -->
         <div class="art-ls-divider"></div>
         <!-- links frame -->
         <div class="art-links-frame p-15-15">
            <!-- download cv button -->
            <a href="https://drive.google.com/drive/folders/1H1WfV18mH9Urgox1TTbH36i0vB5MgVCm?usp=sharing" class="art-link" target="_blank">
            Download cv          <i class="fas fa-download"></i>        </a>
         </div>
         <!-- links frame -->
         <!-- links frame end -->
      </div>
      <!-- scroll frame end -->
      <!-- sidebar social -->
      <div class="art-ls-social">
         <!-- social link -->
         <a href="https://www.linkedin.com/in/gourav-bhandari-05696220a/" target="_blank">
         <i class="fab fa-linkedin"></i>      </a>
         <!-- social link -->
         <!-- social link -->
         <!--<a href="https://dribble.com/" target="_blank">
         <i class="fab fa-dribbble"></i>      </a>  -->
         <!-- social link -->
         <!-- social link -->
         <!--<a href="https://behance.com/" target="_blank">
         <i class="fab fa-behance"></i>      </a>  -->
         <!-- social link -->
         <!-- social link -->
         <a href="https://github.com/Gbgourav" target="_blank">
         <i class="fab fa-github"></i>      </a>
         <!-- social link -->
         <!-- social link -->
         <!-- <a href="https://twitter.com/" target="_blank">
         <i class="fab fa-twitter"></i>      </a> -->
         <!-- social link -->
      </div>
      <!-- sidebar social end -->
   </div>
   <!-- menu bar frame end -->
</div>
